.section.impact-hero {

  position: relative;
  display: grid;

  .img-bg-wrapper {

    grid-area: 1 / 1;

  }

  .hero-body {

    grid-area: 1 / 1;
    position: relative;

    .container {

      position: absolute;
      top: 25%;
      right: 20%;

    }

  }


}

// .impact-background {

//   top: 0;
//   z-index: -1;
//   position: absolute;

//   .image {

//     height: 175vh;

//     @media screen and (min-width: $tablet)  {

//       height: 100vh; // This works from tablet on

//     }

//     filter: brightness(85%);

//   }

// }
