.footer {
  padding-bottom: 0; // Removing default footer padding

  .facebook-icon {
    &:hover {
      color: $brand-color-facebook;
    }
  }

  .twitter-icon {
    &:hover {
      color: $brand-color-twitter;
    }
  }

  .instagram-icon {
    &:hover {
      color: $brand-color-instagram;
    }
  }

  .youtube-icon {
    &:hover {
      color: $brand-color-youtube;
    }
  }

  .mixcloud-icon {
    &:hover {
      color: $brand-color-mixcloud;
    }
  }

  .soundcloud-icon {
    &:hover {
      color: $brand-color-soundcloud;
    }
  }

  .twitch-icon {
    &:hover {
      color: $brand-color-twitch;
    }
  }

}